<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>About</title>

    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="mainContent">
        {{>header}}

        <p>This is a real-time weather application, which fetches data using the weatherstack and mapbox API's.</p>
        <p>This site was created by {{name}} for educational purposes.</p>
    
        <img src = '/images/sekiro.jpg' class="portrait">
    </div>
    
    {{>footer}}
</body>

</html>